{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h2>Cambiar Contraseña</h2>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <div class="card mx-auto" style="width: 40rem;">
		<div class="card-body">
			<form action="{% url 'profile_password_change' %}" method="post">
				{% csrf_token %}

				<div class="mb-3">
					<label for="old_password">Contraseña actual</label>
					<input type="password" name="old_password" id="old_password" class="form-control">
				</div>

				<div class="mb-3">
					<label for="new_password1">Nueva contraseña</label>
					<input type="password" name="new_password1" id="new_password1" class="form-control">
				</div>

				<div class="mb-3">
					<label for="new_password2">Confirmar nueva contraseña</label>
					<input type="password" name="new_password2" id="new_password2" class="form-control">
				</div>

				<input type="submit" value="Cambiar Contraseña" class="btn btn-primary" {% if password_changed %}disabled{% endif %}>
			</form>
		</div>
	</div>
</div>
{% endblock %}
